body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: rgba(240, 248, 255, 0.888);
    padding: 0;
    margin: 0;
}
/*global*/
.container{
      width: 80%;
      margin: auto;
      
}